- content_for(:title) { "Edit #{page.page_title}" }

%header.header
  %h1.header__heading
    = content_for(:title)
  .header__actions
    = link_to("Show #{page.page_title}", [namespace, page.resource], class: 'button')

= render 'form', page: page
