- content_for(:title) do
  = display_resource_name(page.resource_name)

- content_for(:search) do
  = render 'search', search_term: search_term

%header.header
  %h1#page-title.header__heading
    = content_for(:title)

= render 'collection', collection_presenter: page, resources: resources

= paginate resources
